--index-url https://download.pytorch.org/whl/cpu
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0


--index-url https://pypi.org/simple

fastapi
uvicorn
redis
sqlalchemy
psycopg2-binary
numpy
faiss-cpu
pickle-mixin
typing-extensions
datetime
sentence-transformers
pydantic
pyjwt
python-jose
python-multipart
